body
{ 
background-image:url("belang.jpg");
}

p

{
font-family: 'Crafty Girls', cursive;
font-size:25px;
color:#8b008b;
border: solid;
border-color:#79BAEC #FFF380 #E77471;
border-radius: 

}

h1
{
font-family: 'Crafty Girls', cursive;
font-size:30px;
border: double;
border-color:#FFD700 #ff7f50;
border-radius: 35px
}


Button {
background-color: #FC6C85;
border: sOLID;
color:#FCDFFF;
Font-size:16px;
Border-radius:15px;
width:250px;

}